<h1>Your bookings</h1>
<% if @future_bookings.present? %>
  <h2>Your next trips</h2>
  <% @future_bookings.each do |b| %>
    <%= link_to property_path(b.property), class:"text-decoration-none" do %>
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title"><%= b.property.title %></h5>
          <p class="card-text"><%= b.property.address %></p>
          <ul class="list-unstyled p-3">
            <li><%= b.start_date %></li>
            <li><%= b.end_date %></li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @ongoing_bookings.present? %>
  <h2>Current trips</h2>
  <% @ongoing_bookings.each do |b| %>
    <%= link_to property_path(b.property), class:"text-decoration-none" do %>
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title"><%= b.property.title %></h5>
          <p class="card-text"><%= b.property.address %></p>
          <ul class="list-unstyled p-3">
            <li><%= b.start_date %></li>
            <li><%= b.end_date %></li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @past_bookings.present? %>
  <h2>Your past bookings</h2>
  <% @past_bookings.each do |b| %>
    <%= link_to property_path(b.property), class:"text-decoration-none" do %>
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title"><%= b.property.title %></h5>
          <p class="card-text"><%= b.property.address %></p>
          <ul class="list-unstyled p-3">
            <li><%= b.start_date %></li>
            <li><%= b.end_date %></li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
