<div class="container">
  <% if %>
  <h1 class="mb-5">Your bookings</h1>
  <div class="row">
    <% if @future_bookings.present? %>
      <div class="col-12 col-lg-4">
        <h2>Your next trips</h2>
        <% @future_bookings.each do |b| %>
          <%= link_to property_path(b.property), class:"text-decoration-none" do %>
            <div class="card mt-2">
              <div class="card-body">
                <h5 class="card-title"><%= b.property.title %></h5>
                <p class="card-text"><%= b.property.address %></p>
                <ul class="list-unstyled">
                  <li><%= b.start_date %></li>
                  <li><%= b.end_date %></li>
                </ul>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @ongoing_bookings.present? %>
      <div class="col-12 col-lg-4">
        <h2>Current trips</h2>
        <% @ongoing_bookings.each do |b| %>
          <%= link_to property_path(b.property), class:"text-decoration-none" do %>
            <div class="card mt-2">
              <div class="card-body">
                <h5 class="card-title"><%= b.property.title %></h5>
                <p class="card-text"><%= b.property.address %></p>
                <ul class="list-unstyled">
                  <li><%= b.start_date %></li>
                  <li><%= b.end_date %></li>
                </ul>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if @past_bookings.present? %>
      <div class="col-12 col-lg-4">
        <h2>Your past bookings</h2>
        <% @past_bookings.each do |b| %>
          <%= link_to property_path(b.property), class:"text-decoration-none" do %>
            <div class="card mt-2">
              <div class="card-body">
                <h5 class="card-title"><%= b.property.title %></h5>
                <p class="card-text"><%= b.property.address %></p>
                <div class="d-flex justify-content-between align-items-end">
                  <ul class="list-unstyled">
                    <li><%= b.start_date %></li>
                    <li><%= b.end_date %></li>
                  </ul>
                  <div>
                    <%= link_to new_booking_review_path, class: "btn button btn-primary" do %>
                      <p>Add review</p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

