<div class="banner">
  <h2>Book your dream holiday with ease on our website.</h2>
</div>

<div class="container">
  <div class="grid">
    <% @properties.each do |property| %>
      <div class="card">
        <%= link_to property_path(property) do %>
          <div class="card-img" style="background-image: url(<%= cl_image_path property.photo.key %>)"></div>
        <% end %>
        <div class="card-infos">
          <div>
            <h3><%= property.title %></h3>
            <%= property.address %>
          </div>
          <h3>€ <%= property.price_per_night %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
