<h1><%= @property.address%></h1>

<br>
<ol>
  <li><h2><strong>Address:</strong> <%= @property.address %></h2></li>
  <li><h2><strong>Summary:</strong> <%= @property.summary %></h2></li>
  <li><h2><strong>Price:</strong> <%= @property.price_per_night %>$</h2></li>
  <li><h2><strong>Number of Rooms:</strong> <%= @property.number_of_rooms %> room</h2></li>
</ol>
