<div class="container">

  <h1><%= @property.title %></h1>
  <br>

  <div class="d-flex justify-content-between bg-white">
    <div class=" d-flex justify-content-start prop-info">
    <h1 class="me-2"><%= @property.title %></h1>
      <p class="star-icon me-3 ms-3">
        <% unless @reviews.empty? %>
          <% @avg.times do %>
            <i class="fa-solid fa-star fa-2xs"></i>
          <% end %>
        <% end %>
      </p>
      <p class=""> <%= @reviews.count %> <%= @reviews.count == 1 ? 'Review' : 'Reviews'  %></p>
    </div>
    <div class = "icon-size d-flex justify-content-end mb-2">
      <%= link_to "#", class: "me-3" do%>
        <i class="fa-solid fa-heart icon-size"></i>
      <% end %>
      <%= link_to "#", class: "icon-size" do %>
        <i class="fa-solid fa-message icon-size"></i>
      <% end %>
    </div>
  </div>

  <div class="d-flex card-infos justify-content-between">
    <br>

    <div class="my-5">
      <h2><strong>Located in </strong> <%= @property.address %></h2>
      <h2><strong>Price per Night: </strong>€ <%= @property.price_per_night %></h2>
      <h2><strong>Maximum Capacity: </strong> <%= @property.capacity %></h2>
      <br>
      <div class = "d-flex">
        <%= link_to "Book",  new_property_booking_path(@property), class: "btn button btn-primary me-3"%>
        <% unless Booking.where(user: current_user, property: @property).empty? %>
          <%= link_to "Add Review",  new_booking_review_path(current_user.bookings.last), class: "btn button-review btn-primary me-3"%>
        <% end %>
      </div >
    </div>


    <%= image_tag asset_path("Amsterdam_3"), class:"show-img ms-5" %>
  </div>


  <hr>
  <br>
  <div class = "summary">
    <p> <%= @property.summary %></p>
  </div>


  <div class = "d-flex align-items-center">
    <%= image_tag asset_path('host-img.jpg'), class: "host-img me-2"%>
    <div class = "align-items-center pt-3">
      <h3>Owned by</h3>
      <p>John Williams</p>
    </div>
  </div>

  <hr>
  <br>
  <h1>Reviews</h1>
  <br>

  <% @reviews.each do |review|  %>
    <div class="review-card my-2">
      <%#= image_tag asset_path('prof-pic1.jpg')%>

        <% if review.user.email.match(/^(\w|\.)*/)[0].capitalize == "Ahmed" %>
          <%= image_tag asset_path("ahmed-pic.png")%>
        <% elsif review.user.email.match(/^(\w|\.)*/)[0].capitalize == "Yuta" %>
          <%= image_tag asset_path("yuta-pic.jpg")%>
        <% elsif review.user.email.match(/^(\w|\.)*/)[0].capitalize =="Onur" %>
          <%= image_tag asset_path("onur-pic.png")%>
        <% else %>
          <%= image_tag asset_path("jas-pic.jpeg")%>
        <% end %>

        <div class="review-card-infos">
          <h2><%= review.user.email.match(/^(\w|\.)*/)[0].capitalize %></h2>
          <p><%= review.comment %></p>
          <div class=" d-flex justify-content-start prop-info">
            <p class="review-icon ms-1"> <% review.rating.times do %>
              <i class="fa-solid fa-star fa-2xs"></i>
            <% end %>
            </p>
          </div>
      </div>
    </div>
  <% end %>
</div>
