<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="logo-container">
        <%= image_tag ('logo_project.png'), style: 'width: 80px;' %>
        <p>Airbnb</p>
      </div>
    <% end %>

    <div class="row justify-content-center">
      <div class="col-sm-12 my-6">
        <%= form_with url: properties_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search destination", style: "margin-right: 10px;" %>
          <%= select_tag :max_price,
            options_for_select(
              [["Max Price", "", disabled: true, selected: true]] +
              [50, 150, 200, 250, 300, 350, 400, "> 400"].map { |price| ["#{price} €", price] },
              params[:max_price]
            ),
            class: "form-control smaller-input",
            style: "margin-right: 10px;"
          %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary btn-white" %>
        <% end %>
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "My booking", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My favorites", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Àbout us", "#", class: "dropdown-item action-link" %>
              <%= link_to "Contact us", "#", class: "dropdown-item action-link" %>
              <%= link_to "Log out", "#", class: "dropdown-item action-link", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
