<div class="header">
  <h1>Book your favorite place</h1>
  <p>From a cottage in the countryside to a hip apartment in the middle of the city.</P>
</div>

<div class="container">
  <div class="box">
    <h2 class="top-destinations">Latest Top Destinations</h2>
  </div>

  <div class="grid">
    <% @destinations.each do |destination| %>
      <div class="card">
        <%= link_to property_path(destination) do %>
          <div class="card-img" style="background-image: url(<%= asset_path('Amsterdam_3.jpg') %>)"></div>
        <% end %>
       <div class="card-infos">
          <div>
            <h3><%= destination.title %></h3>
            <%= destination.address %>
            <%= destination.capacity %>
          </div>
          <h3>€ <%= destination.price_per_night %></h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
