<h1>New Review</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<%= form_with(model: @review, url: reviews_path, method: :post) do |form| %>
  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>
  
<div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, min: 1, max: 5 %>
  </div>

  <%= form.submit "Create Review" %>
<% end %>